/* Estilos gerais */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    font-family: 'Arial', sans-serif;
}

/* Container da calculadora */
.calculator {
    background-color: #000;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #fff;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.1);
    width: 300px;
}

/* Display da calculadora */
#display {
    width: 100%;
    height: 60px;
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 20px;
    text-align: right;
    padding: 1px;
    font-size: 24px;
    margin-bottom: 20px;
    box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.1);
}

/* Botões */
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    background-color: #333;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #444;
}

/* Botões de operadores */
button.operator {
    background-color: #ff9500;
    color: #fff;
    border: 2px solid #fff;
}

button.operator:hover {
    background-color: #e08900;
}

/* Botão de igual */
button.equals {
    grid-column: span ;
    background-color: #34c759;
    color: #fff;
    border: 2px solid #fff;
}

button.equals:hover {
    background-color: #2da94f;
}

/* Botão zero */
button.zero {
    grid-column: span 1;
}

/* Botões de memória */
button.memory {
    background-color: #007aff;
    color: #fff;
    border: 2px solid #fff;
}

button.memory:hover {
    background-color: #0063cc;
}

/* Botão CE */
button.operator.ce {
    background-color: #ff3b30;
}

button.operator.ce:hover {
    background-color: #ff1a1a;
}

/* Botão ± */
button.operator.toggle-sign {
    background-color: #ff9500;
}

button.operator.toggle-sign:hover {
    background-color: #e08900;
}